In [2]:
import pandas as pd
import sqlalchemy

pd.options.display.float_format = '{:,.0f}'.format
df1 = pd.read_excel('贩卖.xlsx', '贩卖历史')
df2 = pd.read_excel('贩卖.xlsx', '商品')
df3 = pd.merge(df1, df2, on='商品ID')
df3.pivot_table('金额', ['店铺ID', '商品类别'], ['发售日'], aggfunc='sum')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>发售日</th>
      <th>2017-01-01 00:00:00</th>
      <th>2017-02-01 00:00:00</th>
      <th>2017-03-01 00:00:00</th>
    </tr>
    <tr>
      <th>店铺ID</th>
      <th>商品类别</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">11</th>
      <th>电化制品</th>
      <td>2,400</td>
      <td>5,800</td>
      <td>12,400</td>
    </tr>
    <tr>
      <th>食品</th>
      <td>57,500</td>
      <td>nan</td>
      <td>nan</td>
    </tr>
    <tr>
      <th>12</th>
      <th>食品</th>
      <td>nan</td>
      <td>57,500</td>
      <td>60,000</td>
    </tr>
  </tbody>
</table>
</div>

In [1]:
!cp

'cp' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [2]:
!ipconfig

Windows IP 配置


以太网适配器 本地连接:

   连接特定的 DNS 后缀 . . . . . . . :
   本地链接 IPv6 地址. . . . . . . . : fe80::2162:1365:5777:85e6%12
   IPv4 地址 . . . . . . . . . . . . : 192.168.11.193
   子网掩码  . . . . . . . . . . . . : 255.255.255.0
   默认网关. . . . . . . . . . . . . : 192.168.11.1

以太网适配器 VirtualBox Host-Only Network:

   连接特定的 DNS 后缀 . . . . . . . :
   本地链接 IPv6 地址. . . . . . . . : fe80::e00d:4f0b:1550:7513%14
   自动配置 IPv4 地址  . . . . . . . : 169.254.117.19
   子网掩码  . . . . . . . . . . . . : 255.255.0.0
   默认网关. . . . . . . . . . . . . :

隧道适配器 isatap.{5AD3E27F-217F-4FE2-B77F-77D858E50115}:

   媒体状态  . . . . . . . . . . . . : 媒体已断开
   连接特定的 DNS 后缀 . . . . . . . :

隧道适配器 isatap.{CB99D1FC-00EC-4A34-A87F-378E2714CC4F}:

   媒体状态  . . . . . . . . . . . . : 媒体已断开
   连接特定的 DNS 后缀 . . . . . . . :

隧道适配器 本地连接* 9:

   媒体状态  . . . . . . . . . . . . : 媒体已断开
   连接特定的 DNS 后缀 . . . . . . . :